#container-geral{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    box-sizing: border-box;
}

#form-add-produto{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-top: .3rem;
}

#form-add-produto button{
    height: 1.3rem;
}

#container-tabela-pequena{
    margin-top: .3rem;
    flex: 2;
}

.elemento-form{
    margin-bottom: .3rem;
}

#div-input-codigo{
    display: flex;
    flex:1;
    margin: auto;
    margin-bottom: .3px;
    width: 60%;
}

#div-input-add{
    display: flex;
    flex-direction: column;
    flex:5;
    margin: auto;
    width: 60%;
}

#codigos{
    flex: 4;
}

#dataCompra{
    height: 1.1rem;
}