#container-geral{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

#container-tabela{
    flex:19;
    overflow: auto;
    margin-top: .3rem;
}

#span-total{
    font-weight: bold;
    color: whitesmoke;
    text-align: justify;
    box-sizing: border-box;
    vertical-align: middle;
}
#par-total{
    box-sizing: border-box;
    padding: 0em;
    margin: 0em;
    background-color: red;
    font-size: 1rem;
    flex: .45;
    text-align: center;
    padding-top: .2rem;
}

#form-bar-caixa{
    display: flex;
    flex: 1;
}

#btn-fech-compr{
    flex: .45;
}

#codigo-produto{
    flex: 2.5;
}

#btn-add-cod{
    flex: .25;
}
